@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,100;1,200;1,300;1,400;1,500;1,900&display=swap');

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-head {
    font-size: 3rem;
}

.astronaut-icon {
    width: 5rem;
}

.apod-content {
    margin: 0 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    gap: 10px;

}

.astro-des {
    max-width: 600px;
}

.astro-img-container {
    position: relative;
    width: 450px;
    height: 350px;
    overflow: hidden;
    flex-shrink: 0;
    box-shadow: -10px 10px #586F7C;
}

.astro-img-container img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.astro-container {
    align-items: flex-start;
    display: flex;
    margin-top: 20px;
    flex-direction: row;
}

.vertical-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.apod {
    width: 50%;
}

.blue-grey {
    color: #586F7C;
}

.blue-grey-bg {
    background: #586F7C;
}

.regular-btn {
    padding: 12px 20px;
    text-decoration: none;
    cursor: pointer;
    background: #586F7C;
}

.regular-btn:hover {
    background: #2d3940;
}

.media-library-wrap {
    margin-top: 3em;
}

.radar-icon {
    width: 50px;
}

.full-screen-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: zoom-out;
}

.full-screen-img img {
    width: auto;
    height: 90%;
    box-shadow: #586F7C 0px 0px 0px 5px;
}

.container{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(255, 245, 108);
	transition: 0.5s;
	padding: 20px;

}
.container .content{
 position: relative;
 max-width: 800px;
}
.content-img{
	max-width: 100%;
	display: block;
}
.container .content h2{
	font-weight: 800px;
	margin-bottom: 10px;
	
}

.btn:hover{
	background: rgb(214, 62, 62);
}
.container#blur.active{
	filter: blur(20px);
	pointer-events: none;
	user-select: none;
}
#pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 600px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: #192226;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: -1;
}

#pop-up.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  z-index: 1000;
}

.space-weather {
    background: #586f7c1f;
    max-width: 445px;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px 20px;
}

.alter-list-wrapper {
    overflow-y: scroll;
    max-height: 320px;
}

.weather-alert-card {
    background: #586f7c33;
    margin: 20px 0;
    padding: 10px 10px;
    max-width: 97%;
}

.view-altert-btn {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-top: 28px;
}

.view-altert-btn:hover {
    color: #ffefef;
}