*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #12181B; 
  font-family: cubano, sans-serif;
  color: #ffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'cubano';
  src: url('../public/fonts/Cubano.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::selection {
  color: #ffffff;
  background: #EC6852;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1f0; 
  border-radius: 50px;
}
 
::-webkit-scrollbar-thumb {
  background: #EC6852; 
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #EC6852; 
}

.orange {
  color: #EC6852;
}

.yellow {
  color: #FED766;
}

.main-head {
    font-size: 3rem;
}

.head-1 {
  font-size: 50px;
}

.head-2 {
  font-size: 30px;
}

.para {
  color: #A6B6BE;
}

.no-select {
  user-select: none;
}

.font-sofia {
  font-family: sofia-pro, sans-serif;
}

.font-cubano {
  font-family: 'cubano', sans-serif;
}

.gradient-text {
    background-image: linear-gradient(to top, var(--tw-gradient-stops));
    --tw-gradient-from: #f97316;
    --tw-gradient-to: rgb(249 115 22 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #eab308;
    background-clip: text;
    color: #0000;
    -webkit-background-clip: text;
}

.font-popins {
  font-family: 'Poppins', sans-serif;
}

.error-text {
  color: red;
}

@media (max-width: 768px) {
    .main-head {
        font-size: 35px;
    }

    .head-1 {
        font-size: 35px;
        text-align: center;
    }

    .head-2 {
        font-size: 30px;
    }
}